body {
    background-color : #ffdf00;
    display: block;
}

header {
    background-color : black;
}

header img{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
}

.base-content {
	position: relative;
	min-height: 100%;
	background-color : #eeeeee;
	padding: 2%;
	padding-left: 8%;
}

/** Patie Menu **/

.menu-SAV-file {
	list-style: none;
	padding-left: 1%; 
	margin-right: -15%;
	margin-top: 12%;
}

.list-SAV-file {
	background-color: #ffdf00;
	font-size: 22px;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;
	padding-left: 3%;
}

.list-SAV-file.active {
	background-color: black;
	border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
}

.list-SAV-file.active > a {
	color: #ffdf00;
}

.list-SAV-file > a {
	color: black;
	padding-top: 3%;
	padding-bottom: 3%;
}

.list-SAV-file > a:hover {
	background-color: black;
	color: #ffdf00;
    text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
}
