{% extends "../SAVFile/searchSAVFile.html" %}
{% load static %}
{% load i18n %}
{% block style %}
    <link href="{% static 'css/SAVFile/searchSAVFile.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/SAVFile/classSAVFileStatus.css' %}" rel="stylesheet" media="screen"> 
    <link href="{% static 'css/home/home.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block results %}
    <div class="col-md-12">
      <h2 class="home-title">{% trans "You close the app without being disconnected" %}</h2>
      <ul class="home-list">
        <li class="home-text">
            <h4>{% trans "To search others AS files, you can click on the 'Validate' button" %}</h4>
        </li>
        <li class="home-text">
            <h4>{% trans "You can also choose an other option on the left menu." %}</h4>
        </li>
      </ul>
    </div>
{% endblock %}