form label {
    color: black;
}

form {
	padding-right: 5%
}

.first-block {
	margin-bottom: 1%;
}

.second-block {
	margin-bottom: 1.5%;
}

.block-client, .block-product {
	margin-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

.panel-client, .panel-product {
	border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
}

.title-panel-client, .title-panel-product {
	text-align: center;
	color: black;
	border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
	margin-bottom: 1%;
}

.block-name-client {
	margin-bottom: 2%;
}

.address-client {
    text-align: center;
    color: black;
    margin-bottom: 0.5%;
}

.block-characteristic-client {
	margin-bottom: 1%;	
}

.block-characteristic-product {
	margin-bottom: 2%;	
}


.block-out-of-order-reason {
	margin-top: 1%;
	margin-bottom: 1%;
}

.block-out-of-order-reason label {
	display: block;
	text-align: center;
}

.block-out-of-order-reason textarea{
	display: block;  
	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
}

.block-sav-status {
	margin-top: 3%;
	margin-bottom: 1%;
	padding-left: 5%;	
}

.block-sav-status div {
	margin-top: 5%;	
}

.block-files {
	margin-top: 1%;
	padding-top: 1%;
}

.block-button {
	margin-top: 5%;
	padding-top: 1%;	
}

.block-button input{ 
	display: block;  
	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
}

.mini-title {
	margin-top: 20px;
	text-align: center;
	text-decoration: underline;
	border-top: solid 1px black;
}

.pdf-buttons {
	text-align: center;
	margin-top: 10px;
}

.add-button {
	text-align: right;
	font-size: 20px;
}