form label {
    color: black;
}

.block-file-reference-tracking-number {
	margin-bottom: 1%;
}

.block-client-or-product {
    height: 15%;
}

.panel-client-or-product {
    position: relative;
	border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    height: 100%;
    margin: 1%;
    padding: 2%;
}

.panel-client-or-product label{
    margin-left: 10%;  
    margin-top: 2%;   
    margin-bottom: 2%; 
}

.block-button {
	margin-top: 5%;
	padding-top: 1%;	
}

.block-button input{ 
	display: block;  
	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
}