form label {
    color: black;
}

.first-block {
    margin-bottom: 1%;
}

.second-block {
    margin-bottom: 1.5%;
}

.block-client, .block-product {
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.panel-client, .panel-product {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
}

.title-panel-client, .title-panel-product {
    text-align: center;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-bottom: 1%;
}

.block-name-client {
    margin-bottom: 1%;
}

.block-characteristic-product {
    margin-bottom: 1%;  
}

.block-button {
	margin-top: 2%;
	padding-top: 1%;
    margin-bottom: 3%;	
}

.block-button input{ 
	display: block;  
	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
}

