{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/searchSAVFile/searchSAVFile.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/searchSAVFile/classSAVFileStatus.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block menu_search %}<li class="list-SAV-file active row"><a href="#" class="col-md-12">Rechercher</a></li>{% endblock %}
{% block content %}    
    <form class="row" method=GET action="{% url 'visualImpactSAV:searchSAVFile' %}" accept-charset="utf-8">
        <div class="col-md-12 row block-file-reference-tracking-number"> 
            <div class="col-md-6 first-block">
                <label for="file_reference">Référence du fichier SAV :</label>
                <input id="file_reference" type="text" name="file_reference">
            </div>

            <div class="col-md-6 first-block">           
                <label for="id_sav_file_status">Status de la fiche SAV :</label>
                <select id="id_sav_file_status" name="sav_file_status">
                    <option value="">  ----  </option>
                    {% for st in sav_file_status %}
                        <option value="{{ st.id }}">{{ st }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 second-block">
                <label for="tracking_number">Numéro de suivi UPS :</label>
                <input id="tracking_number" type="text" name="tracking_number">
            </div>

            <div class="col-md-6 second-block"> 
            <label for="id_reparation_status">Statut de réparation : </label>
            <select id="id_reparation_status" name="reparation_status">
                <option value="">  ----  </option>
                {% for st in reparation_status %}
                    <option value="{{ st.id }}">{{ st }}</option>
                {% endfor %}
            </select>
        </div> 
        </div>

        <div class="col-md-6 block-client">
            <div class="row panel-client">
                <div class="col-md-12 title-panel-client">   
                    <h4>Filtrage par client</h4>
                </div>
                <div class="col-md-offset-2 col-md-10 block-name-client">            
                    <label for="client_name">Nom :</label>
                    <input id="client_name" type="text" name="client_name">
                </div>
            </div>
        </div>

        <div class="col-md-6 block-product">
            <div class="row panel-product">
                <div class="col-md-12 title-panel-product">   
                    <h4>Filtrage par produit</h4>
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">
                    <label for="product_mark">Marque :</label>
                    <input id="product_mark" type="text" name="product_mark">
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">            
                    <label for="product_model">Modèle :</label>
                    <input id="product_model" type="text" name="product_model">
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">
                    <label for="product_serial_number">Numéro de série :</label>
                    <input id="product_serial_number" type="text" name="product_serial_number">
                </div>
            </div>
        </div>

        <div class="col-md-12 block-button">        
            <input type="submit" value="Rechercher">
        </div>
    </form>

    <div class="row">
    {% for st in sav_file_status %}
        <p class="col-md-3">{{ st.libelle }} <span class="badge {{ st.class_css }}" style="color: black;">{{ results|count_by_libelle:st.libelle }}</span></p>
    {% endfor %}      
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Référence du fichier SAV</td>
                <th>Numéro de suivi</td>
                <th>Statut de réparation</td>
                <th>Nom du client</td>
                <th>Marque du produit</td>
                <th>Modèle du produit</td>
                <th>Numéro de série du produit</td>
            </tr>
        </thead>
        <tbody>
            {% for file in results %}
                {% if file.sav_file_status.class_css != "" and file.sav_file_status.class_css is not None %}
                    <tr class="{{ file.sav_file_status.class_css }} ">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ file.file_reference }}</td>
                <td>{{ file.tracking_number }}</td>
                <td>{{ file.reparation_status }}</td>
                <td>{{ file.name_client }}</td>
                <td>{{ file.mark_product }}</td>
                <td>{{ file.name_product }}</td>
                <td>{{ file.serial_number_product }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}