{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block menu_add %}<li class="list-SAV-file active row"><a href="#" class="col-md-12">{% trans "Create" %}</a></li>{% endblock %}
{% block content %}
    {{ global_error }}
    <form class="row" enctype="multipart/form-data" method=POST action="{% url 'visualImpactSAV:createSAVFile' %}" accept-charset="utf-8">
        {% csrf_token %}
        <div class="col-md-6 first-block">
            <label for="id_status">{% trans "AS file's status" %} :</label>
            <select id="id_status" name="status" disabled="true">
                <option value="{{ 'O' }}">{% trans "Opened" %}</option>
            </select>
            {{ form.status.errors }}
        </div>
        <div class="col-md-6 first-block">
            <label for="id_rma_number">{% trans "RMA number" %} :</label>
            <input id="id_rma_number" type="text" name="rma_number" maxlength="100"/>
            {{ form.rma_number.errors }}
        </div>
        <div class="col-md-12 block-product">
            <div class="row panel-product">
                <div class="col-md-12 title-panel-product">
                    <h4>{% trans "Product informations" %}</h4>
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_brand_product">{% trans "Brand" %} :</label>
                    <input id="id_brand_product" type="text" name="brand_product" maxlength="300" />
                    {{ form.brand_product.errors }}
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_name_product">{% trans "Model" %} :</label>
                    <input id="id_name_product" type="text" name="name_product" maxlength="300" />
                    {{ form.name_product.errors }}
                </div>
                <div class="col-md-3  block-characteristic-product">
                    <label for="id_serial_number_product">{% trans "Serial number" %} :</label>
                    <input id="id_serial_number_product" type="text" name="serial_number_product" maxlength="300" />
                    {{ form.serial_number_product.errors }}
                </div>
                <div class="col-md-3  block-characteristic-product">
                    <label for="id_waranty">{% trans "Waranty" %} :</label>
                    <select id="id_waranty" name="waranty" >
                        {% for waranty in waranties %}
                            <option value="{{ waranty.0 }}">{{ waranty.1 }}</option>
                        {% endfor %}
                    </select>
                    {{ form.waranty.errors }}
                </div>
            </div>
        </div>
        <div class="col-md-12 block-client">
            <div class="row panel-client">
                <div class="col-md-12 title-panel-client">
                    <h4>{% trans "Customer informations" %}</h4>
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_name_customer">{% trans "Name" %} :</label>
                    <input id="id_name_customer" type="text" name="name_customer" maxlength="300"/>
                    {{ form.name_customer.errors }}
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_society_customer">{% trans "Society" %} :</label>
                    <input id="id_society_customer" type="text" name="society_customer" maxlength="300"/>
                    {{ form.society_customer.errors }}
                </div>
                <div class="col-md-7 row">
                    <div class="col-md-12 address-client">
                        <span class="glyphicon glyphicon-envelope"/><span>   {% trans "Adresse" %}</span>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_street_customer">{% trans "Street" %} :</label>
                        <input id="id_street_customer" type="text" name="street_customer" maxlength="300" />
                        {{ form.street_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_city_customer">{% trans "City" %}  :</label>
                        <input id="id_city_customer" type="text" name="city_customer" maxlength="300" />
                        {{ form.city_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_zipcode_customer">{% trans "Zipcode" %} :</label>
                        <input id="id_zipcode_customer" type="text" name="zipcode_customer" maxlength="300" />
                        {{ form.zipcode_customer.errors }}
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-12 address-client">
                        <p>   {% trans "Phone and email" %}</p>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_phone_customer" class="glyphicon glyphicon-earphone"></label>
                        <input id="id_phone_customer" type="text" name="phone_customer" maxlength="30" />
                        {{ form.phone_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_email_customer">@ :</label>
                        <input id="id_email_customer" type="email" name="email_customer" />
                        {{ form.email_customer.errors }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for contact in session_mail_and_phone %}
                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateMailAndPhone" href="{% url 'visualImpactSAV:updateMailAndPhone' contact.id%}" style="color: black;"></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-12 add-button">
            <a data-toggle="modal" data-target="#modalCreateMailAndPhone" href="{% url 'visualImpactSAV:createMailAndPhoneInSession' %}">{% trans "Add a contact" %}</a>
        </div>
        <div class="col-md-12 block-out-of-order-reason">
            <label for="id_out_of_order_reason">{% trans "Out of order reason" %} :</label>
            <textarea id="id_out_of_order_reason" name="out_of_order_reason" rows="10" cols="40" ></textarea>
            {{ form.out_of_order_reason.errors }}
        </div>
        <div class="col-md-12 block-out-of-order-reason">
            <label for="id_given_accessory">{% trans "Given accessories" %} :</label>
            <textarea id="id_given_accessory" name="given_accessory" rows="10" cols="40" ></textarea>
            {{ form.given_accessory.errors }}
        </div>
        <div class="col-md-12 row block-files">
            <label for="id_bill_customer">{% trans "Customer bill" %} :</label>
            <input id="id_bill_customer" type="file" name="bill_customer" />
            {{ form.bill_customer.errors }}
        </div>
        <div class="col-md-12 pdf-buttons">
            <label for="id_furnisher">{% trans "Furnisher" %} :</label>
            {{ form.furnisher }}
            {{ form.furnisher.errors }}
        </div>

        <div class="col-md-12 block-button">
            <input type="submit" value="Valider">
        </div>
    </form>

    <div class="modal" id="modalUpdateMailAndPhone"></div>
    <div class="modal" id="modalCreateMailAndPhone"></div>
{% endblock %}