{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block menu_add %}<li class="list-SAV-file active row"><a href="#" class="col-md-12">{% trans "Create" %}</a></li>{% endblock %}
{% block content %}
    {{ global_error }}
    <form class="row" enctype="multipart/form-data" method=POST action="{% url 'visualImpactSAV:createSAVFile' %}" accept-charset="utf-8">
        {% csrf_token %}
        <div class="col-md-6 first-block">
            <label for="id_sav_file_status">{% trans "AS file's status" %} :</label>
            <select id="id_sav_file_status" name="sav_file_status" disabled="true">
                <option value="{{ 'O' }}">{% trans "Opened" %}</option>
            </select>
            {{ form.sav_file_status.errors }}
        </div>
        <div class="col-md-6 first-block">
            <label for="id_rma_number">{% trans "RMA number" %} :</label>
            <input id="id_rma_number" type="text" name="rma_number" maxlength="100"/>
            {{ form.rma_number.errors }}
        </div>
        <div class="col-md-12 block-product">
            <div class="row panel-product">
                <div class="col-md-12 title-panel-product">
                    <h4>{% trans "Product informations" %}</h4>
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_mark_product">{% trans "Brand" %} :</label>
                    <input id="id_mark_product" type="text" name="mark_product" maxlength="300" />
                    {{ form.mark_product.errors }}
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_name_product">{% trans "Model" %} :</label>
                    <input id="id_name_product" type="text" name="name_product" maxlength="300" />
                    {{ form.mark_product.errors }}
                </div>
                <div class="col-md-3  block-characteristic-product">
                    <label for="id_serial_number_product">{% trans "Serial number" %} :</label>
                    <input id="id_serial_number_product" type="text" name="serial_number_product" maxlength="300" />
                    {{ form.serial_number_product.errors }}
                </div>
                <div class="col-md-3  block-characteristic-product">
                    <label for="id_guarantee">{% trans "Waranty" %} :</label>
                    <select id="id_guarantee" name="guarantee" >
                        <option value="Sous garantie">{% trans "Included waranty" %}</option>
                        <option value="Hors garantie">{% trans "Excluded waranty" %}</option>
                    </select>
                    {{ form.guarantee.errors }}
                </div>
            </div>
        </div>
        <div class="col-md-12 block-client">
            <div class="row panel-client">
                <div class="col-md-12 title-panel-client">
                    <h4>{% trans "Customer informations" %}</h4>
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_name_client">{% trans "Name" %} :</label>
                    <input id="id_name_client" type="text" name="name_client" maxlength="300"/>
                    {{ form.name_client.errors }}
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_society_client">{% trans "Society" %} :</label>
                    <input id="id_society_client" type="text" name="society_client" maxlength="300"/>
                    {{ form.society_client.errors }}
                </div>
                <div class="col-md-7 row">
                    <div class="col-md-12 address-client">
                        <span class="glyphicon glyphicon-envelope"/><span>   {% trans "Adresse" %}</span>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_street_client">{% trans "Street" %} :</label>
                        <input id="id_street_client" type="text" name="street_client" maxlength="300" />
                        {{ form.street_client.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_city_client">{% trans "City" %}  :</label>
                        <input id="id_city_client" type="text" name="city_client" maxlength="300" />
                        {{ form.city_client.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_zipcode_client">{% trans "Zipcode" %} :</label>
                        <input id="id_zipcode_client" type="text" name="zipcode_client" maxlength="300" />
                        {{ form.zipcode_client.errors }}
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-12 address-client">
                        <p>   {% trans "Phone and email" %}</p>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_phone_client" class="glyphicon glyphicon-earphone"></label>
                        <input id="id_phone_client" type="text" name="phone_client" maxlength="30" />
                        {{ form.phone_client.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_email_client">@ :</label>
                        <input id="id_email_client" type="email" name="email_client" />
                        {{ form.email_client.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 block-out-of-order-reason">
            <label for="id_out_of_order_reason">{% trans "Out of order reason" %} :</label>
            <textarea id="id_out_of_order_reason" name="out_of_order_reason" rows="10" cols="40" ></textarea>
            {{ form.out_of_order_reason.errors }}
        </div>

        <div class="col-md-12 row block-files">
            <label for="id_client_bill">{% trans "Client bill" %} :</label>
            <input id="id_client_bill" type="file" name="client_bill" />
            {{ form.client_bill.errors }}
        </div>
        <div class="col-md-12 pdf-buttons">
            <label for="id_furnisher">{% trans "Furnisher" %} :</label>
            {{ form.furnisher }}
            {{ form.furnisher.errors }}
        </div>

        <div class="col-md-12 block-button">
            <input type="submit" value="Valider">
        </div>
    </form>
{% endblock %}