{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}     
    <div class="col-md-12 update-sav-file-button">
        <a href="{% url 'visualImpactSAV:updateSAVFile' pkSAVFile %}">Modifier</a>
    </div>              
    <div class="col-md-offset-4 col-md-6 block-characteristic-client">
        <label>Crée par :</label>
        <span>{{ sav_file.registred_by.username }}</span>
    </div> 

    <div class="col-md-4 second-block">
        <label>Reference du fichier SAV :</label>
        <span>VIF-SAV-{{ sav_file.id }}</span>
    </div>

    <div class="col-md-4 second-block">           
        <label>Statut de la fiche SAV :</label>
        <span>{{ sav_file.sav_file_status.libelle }}</span>
    </div>
 
    <div class="col-md-4 second-block">            
        <label>Numéro RMA :</label>
        <span>{{ sav_file.rma_number }}</span>
    </div>   

    <div class="col-md-12 block-product">
        <div class="row panel-product">
            <div class="col-md-12 title-panel-product">
                <h4>Informations sur le produit</h4>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>Marque :</label>
                <span>{{ sav_file.mark_product }}</span>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>Modèle :</label>
                <span>{{ sav_file.name_product }}</span>
            </div>    
            <div class="col-md-3 block-characteristic-product">
                <label>Numéro de série :</label>
                <span>{{ sav_file.serial_number_product }}</span>
            </div>     
            <div class="col-md-3 block-characteristic-product">           
                <label>Statut de la garantie :</label>
                <span>{{ sav_file.guarantee }}</span>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 block-client">
        <div class="row panel-client">
            <div class="col-md-12 title-panel-client">
                <h4>Informations sur le client</h4>
            </div>
            <div class="col-md-6 block-name-client">
                <label>Nom :</label>
                <span>{{ sav_file.name_client }}</span>
            </div>
            <div class="col-md-6 block-name-client">
                <label>Société :</label>
                <span>{{ sav_file.society_client }}</span>
            </div>
            <div class="col-md-7 row">
                <div class="col-md-12 address-client">
                    <span class="glyphicon glyphicon-envelope"/><span>   Adresse</span>
                </div>                     
                <div class="col-md-12 block-characteristic-client">
                    <label>Rue :</label>
                    <span>{{ sav_file.street_client }}</span>
                </div>  
                <div class="col-md-12 block-characteristic-client">
                    <label>Ville  :</label>
                    <span>{{ sav_file.city_client }}</span>
                </div>   
                <div class="col-md-12 block-characteristic-client">
                    <label>Code postal :</label>
                    <span>{{ sav_file.zipcode_client }}</span>
                </div>  
            </div> 
            <div class="col-md-5 row">                    
                <div class="col-md-12 address-client">
                    <p>Téléphone et e-mail</p>
                </div>  
                <div class="col-md-12 block-characteristic-client">
                    <label class="glyphicon glyphicon-earphone"> :</label>
                    <span>{{ sav_file.phone_client }}</span>
                </div>    
                <div class="col-md-12 block-characteristic-client">
                    <label>@ :</label>
                    <span>{{ sav_file.email_client }}</span>
                </div>  
            </div> 
        </div> 
    </div>

    <div class="col-md-12 second-block">            
        <label>Raison du défaut de produit :</label>
        <span>{{ sav_file.out_of_order_reason | linebreaks }}</span>
    </div>        

    <div class="col-md-12 row block-files">
        {% if sav_file.client_bill %}
            <label>Facture client : </label><a class="glyphicon glyphicon-file" target="_blank" href="{{ sav_file.client_bill.url }}">{{ sav_file.client_bill.url }}</a>
        {% endif %}
    </div>

    <div class="col-md-12 mini-title">
        <h3> Evenements </h3>
    </div>
    <div class="col-md-12">
        <div id="eventOrDesignation">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.action }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12 mini-title">
        <h3> Génération de PDF </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Designation</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for designation in designations %}
                <tr>
                    <td>{{ designation.designation }}</td>
                    <td>{{ designation.quantity }}</td>
                    <td>{{ designation.price }}</td>
                    <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateDesignation" href="{% url 'visualImpactSAV:updateDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                    <td><a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#modalDeleteDesignation" href="{% url 'visualImpactSAV:deleteDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <th>Prix hors taxe :</th>
                <th>{{ totalHT }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <th>Prix taxes comprises :</th>
                <th style="color:red">{{ totalTC }}</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>   
    <div class="col-md-12 add-button">
        <a data-toggle="modal" data-target="#modalCreateDesignation" href="{% url 'visualImpactSAV:createDesignation' pkSAVFile %}">Ajouter une désignation</a>
    </div>            
    <div class="col-md-12 pdf-buttons">
        <label>Fournisseur :</label>
        {% if sav_file.furnisher is not None %}
            <span>{{ sav_file.furnisher.mark }}<span>
        {% else %}
            <span> --- --- --- <span>
        {% endif %}
    </div>
    <div class="col-md-12 pdf-buttons">
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfClient' pkSAVFile %}">Fiche récapitulative</a>
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfClientCostEstimate' pkSAVFile %}">Devis</a>
        {% if sav_file.furnisher is not None %}
            <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfFurnisher' pkSAVFile %}">Renvoi fournisseur</a>
        {% else %}
            <p>Pas de fournisseur : impossible d'envoyer une fiche de renvoi<p>
        {% endif %}
    </div>
    <div class="col-md-12 update-sav-file-button">
        <a href="{% url 'visualImpactSAV:updateSAVFile' pkSAVFile %}">Modifier</a>
    </div>  

    <div class="modal" id="modalUpdateDesignation"></div>
    <div class="modal" id="modalCreateDesignation"></div>
    <div class="modal" id="modalDeleteDesignation"></div>
{% endblock %}