{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <div class="col-md-12 update-sav-file-button">
        <a href="{% url 'visualImpactSAV:updateSAVFile' pkSAVFile %}">{% trans "Update" %}</a>
    </div>
    <div class="col-md-offset-4 col-md-4 block-characteristic-client">
        <label>{% trans "Referent" %} :</label>
        <span>{{ sav_file.registred_by.username }}</span>
    </div>
    <div class="col-md-4 block-characteristic-client">
        <label>{% trans "Created on" %} :</label>
        <span>{{ sav_file.creation_date }}</span>
    </div>
    <div class="col-md-4 second-block">
        <label>{% trans "AS file reference" %} :</label>
        <span>VIF-SAV-{{ sav_file.id }}</span>
    </div>
    <div class="col-md-4 second-block">
        <label>{% trans "AS file's status" %} :</label>
        <span>{{ sav_file.status|have_libelle_from_code:'status' }}</span>
    </div>
    <div class="col-md-4 second-block">
        <label>{% trans "RMA number" %} :</label>
        <span>{{ sav_file.rma_number }}</span>
    </div>
    <div class="col-md-12 block-product">
        <div class="row panel-product">
            <div class="col-md-12 title-panel-product">
                <h4>{% trans "Product informations" %}</h4>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>{% trans "Brand" %} :</label>
                <span>{{ sav_file.brand_product }}</span>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>{% trans "Model" %} :</label>
                <span>{{ sav_file.name_product }}</span>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>{% trans "Serial number" %} :</label>
                <span>{{ sav_file.serial_number_product }}</span>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>{% trans "Waranty" %} :</label>
                <span>{{ sav_file.waranty|have_libelle_from_code:'waranty' }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 block-client">
        <div class="row panel-client">
            <div class="col-md-12 title-panel-client">
                <h4>{% trans "Customer informations" %}</h4>
            </div>
            <div class="col-md-6 block-name-client">
                <label>{% trans "Name" %} :</label>
                <span>{{ sav_file.name_customer }}</span>
            </div>
            <div class="col-md-6 block-name-client">
                {% trans "None" as none %}
                <label>{% trans "Society" %} :</label>
                <span>{{ sav_file.society_customer|default:none }}</span>
            </div>
            <div class="col-md-7 row">
                <div class="col-md-12 address-client">
                    <span class="glyphicon glyphicon-envelope"/><span>   {% trans "Address" %}</span>
                </div>
                <div class="col-md-12 block-characteristic-client">
                    <label>{% trans "Street" %} :</label>
                    <span>{{ sav_file.street_customer }}</span>
                </div>
                <div class="col-md-12 block-characteristic-client">
                    <label>{% trans "City" %}  :</label>
                    <span>{{ sav_file.city_customer }}</span>
                </div>
                <div class="col-md-12 block-characteristic-client">
                    <label>{% trans "Zipcode" %} :</label>
                    <span>{{ sav_file.zipcode_customer }}</span>
                </div>
            </div>
            <div class="col-md-5 row">
                <div class="col-md-12 address-client">
                    <p>{% trans "Phone and email" %}</p>
                </div>
                <div class="col-md-12 block-characteristic-client">
                    <label class="glyphicon glyphicon-earphone"> :</label>
                    <span>{{ sav_file.phone_customer }}</span>
                </div>
                <div class="col-md-12 block-characteristic-client">
                    <label>@ :</label>
                    <span>{{ sav_file.email_customer }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 second-block">
        <label>{% trans "Out of order reason" %} :</label>
        <span>{{ sav_file.out_of_order_reason | linebreaks }}</span>
    </div>
    <div class="col-md-12 second-block">
        <label>{% trans "Given accessories" %} :</label>
        <span>{{ sav_file.given_accessory | linebreaks }}</span>
    </div>
    <div class="col-md-12 row block-files">
        {% if sav_file.bill_customer %}
            <label>{% trans "Customer bill" %} : </label><a class="glyphicon glyphicon-file" target="_blank" href="{{ sav_file.bill_customer.url }}">{{ sav_file.bill_customer.url }}</a>
        {% endif %}
    </div>
    <div class="col-md-12 mini-title">
        <h3> {% trans "Events" %} </h3>
    </div>
    <div class="col-md-12">
        <div id="eventOrDesignation">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.action }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 mini-title">
        <h3> {% trans "PDF generation" %} </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Designation" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for designation in designations %}
                <tr>
                    <td>{{ designation.designation }}</td>
                    <td>{{ designation.quantity }}</td>
                    <td>{{ designation.price }}</td>
                    <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateDesignation" href="{% url 'visualImpactSAV:updateDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                    <td><a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#modalDeleteDesignation" href="{% url 'visualImpactSAV:deleteDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <th>{% trans "Total pre-tax price" %} :</th>
                <th>{{ totalHT }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <th>{% trans "Total price AI" %} :</th>
                <th style="color:red">{{ totalTC }}</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 add-button">
        <a data-toggle="modal" data-target="#modalCreateDesignation" href="{% url 'visualImpactSAV:createDesignation' pkSAVFile %}">{% trans "Add a designation" %}</a>
    </div>
    <div class="col-md-12 pdf-buttons">
        <label>{% trans "Furnisher" %} :</label>
        {% if sav_file.furnisher is not None %}
            <span>{{ sav_file.furnisher.brand }}<span>
        {% else %}
            <span> --- --- --- <span>
        {% endif %}
    </div>
    <div class="col-md-12 pdf-buttons">
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfClient' pkSAVFile %}">{% trans "Summary file" %}</a>
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfClientCostEstimate' pkSAVFile %}">{% trans "Cost estimate" %}</a>
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfReparation' pkSAVFile %}">{% trans "Return for customer" %}</a>
        {% if sav_file.furnisher is not None %}
            <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdfFurnisher' pkSAVFile %}">{% trans "Create a furnisher file" %}</a>
        {% else %}
            <p>{% trans "No furnisher for this AS file, please add one to be able to produce a furnisher file." %}<p>
        {% endif %}
    </div>
    <div class="col-md-12 update-sav-file-button">
        <a href="{% url 'visualImpactSAV:updateSAVFile' pkSAVFile %}">{% trans "Update" %}</a>
    </div>
    <div class="modal" id="modalUpdateDesignation"></div>
    <div class="modal" id="modalCreateDesignation"></div>
    <div class="modal" id="modalDeleteDesignation"></div>
{% endblock %}