{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}                
    <div class="col-md-offset-4 col-md-6 block-characteristic-client">
        <label>Crée par :</label>
        <span>{{ sav_file.registred_by.username }}</span>
    </div> 

    <div class="col-md-4 second-block">
        <label>Reference du fichier SAV :</label>
        <span>{{ sav_file.id }}</span>
    </div>

    <div class="col-md-4 second-block">           
        <label>Statut de la fiche SAV :</label>
        <span>{{ sav_file.sav_file_status }}</span>
    </div>
 
    <div class="col-md-4 second-block">            
        <label>Numéro de suivi UPS :</label>
        <span>{{ sav_file.tracking_number }}</span>
    </div>   

    <div class="col-md-12 block-product">
        <div class="row panel-product">
            <div class="col-md-12 title-panel-product">
                <h4>Informations sur le produit</h4>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>Marque :</label>
                <span>{{ sav_file.mark_product }}</span>
            </div>
            <div class="col-md-3 block-characteristic-product">
                <label>Modèle :</label>
                <span>{{ sav_file.name_product }}</span>
            </div>    
            <div class="col-md-3 block-characteristic-product">
                <label>Numéro de série :</label>
                <span>{{ sav_file.serial_number_product }}</span>
            </div>     
            <div class="col-md-3 block-characteristic-product">           
                <label>Statut de la garantie :</label>
                <span>{{ sav_file.guarantee }}</span>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 block-client">
        <div class="row panel-client">
            <div class="col-md-12 title-panel-client">
                <h4>Informations sur le client</h4>
            </div>
            <div class="col-md-6 block-name-client">
                <label>Nom :</label>
                <span>{{ sav_file.name_client }}</span>
            </div>
            <div class="col-md-6 block-name-client">
                <label>Société :</label>
                <span>{{ sav_file.society_client }}</span>
            </div>
            <div class="col-md-7 row">
                <div class="col-md-12 address-client">
                    <span class="glyphicon glyphicon-envelope"/><span>   Adresse</span>
                </div>                     
                <div class="col-md-12 block-characteristic-client">
                    <label>Rue :</label>
                    <span>{{ sav_file.street_client }}</span>
                </div>  
                <div class="col-md-12 block-characteristic-client">
                    <label>Ville  :</label>
                    <span>{{ sav_file.city_client }}</span>
                </div>   
                <div class="col-md-12 block-characteristic-client">
                    <label>Code postal :</label>
                    <span>{{ sav_file.zipcode_client }}</span>
                </div>  
            </div> 
            <div class="col-md-5 row">                    
                <div class="col-md-12 address-client">
                    <p>Téléphone et e-mail</p>
                </div>  
                <div class="col-md-12 block-characteristic-client">
                    <label class="glyphicon glyphicon-earphone"> :</label>
                    <span>{{ sav_file.phone_client }}</span>
                </div>    
                <div class="col-md-12 block-characteristic-client">
                    <label>@ :</label>
                    <span>{{ sav_file.email_client }}</span>
                </div>  
            </div> 
        </div> 
    </div>

    <div class="col-md-12 second-block">            
        <label>Raison du défaut de produit :</label>
        <span>{{ sav_file.out_of_order_reason }}</span>
    </div>        

    <div class="col-md-12 row block-files">
        {% if sav_file.client_bill %}
            <label>Facture client : </label><a class="glyphicon glyphicon-file" target="_blank" href="{{ sav_file.client_bill.url }}">{{ sav_file.client_bill.url }}</a>
        {% endif %}
    </div>

    <div class="col-md-12">
        <div id="eventOrDesignation">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.action }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}