{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/SAVFile/searchSAVFile.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/SAVFile/classSAVFileStatus.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block menu_search %}<li class="list-SAV-file active row"><a href="#" class="col-md-12">Rechercher</a></li>{% endblock %}
{% block content %}    
    <form class="row" method=GET action="{% url 'visualImpactSAV:searchSAVFile' %}" accept-charset="utf-8">
        <div class="col-md-12 row block-file-reference-tracking-number"> 
            <div class="col-md-6 first-block">
                <label for="file_reference">Référence du fichier SAV :</label>
                <input id="file_reference" type="text" name="file_reference">
            </div>

            <div class="col-md-6 first-block">           
                <label for="id_sav_file_status">Status de la fiche SAV :</label>
                <select id="id_sav_file_status" name="sav_file_status">
                    <option value="">  ----  </option>
                    {% for st in sav_file_status %}
                        <option value="{{ st.id }}">{{ st }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 second-block">
                <label for="tracking_number">Numéro de suivi UPS :</label>
                <input id="tracking_number" type="text" name="tracking_number">
            </div>

            <div class="col-md-6 second-block"> 
                <label for="reparation_status">Statut de réparation : </label>
                <select id="reparation_status" name="reparation_status">
                    <option value="">  ----  </option>
                    {% for st in reparation_status %}
                        <option value="{{ st.id }}">{{ st }}</option>
                    {% endfor %}
                </select>
            </div> 
        </div>

        <div class="col-md-6 block-client">
            <div class="row panel-client">
                <div class="col-md-12 title-panel-client">   
                    <h4>Filtrage par client</h4>
                </div>
                <div class="col-md-offset-2 col-md-10 block-name-client">            
                    <label for="client_name">Nom :</label>
                    <input id="client_name" type="text" name="client_name">
                </div>
                <div class="col-md-offset-2 col-md-10 block-name-client">            
                    <label for="client_society">Société :</label>
                    <input id="client_society" type="text" name="client_society">
                </div>
            </div>
        </div>

        <div class="col-md-6 block-product">
            <div class="row panel-product">
                <div class="col-md-12 title-panel-product">   
                    <h4>Filtrage par produit</h4>
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">
                    <label for="product_mark">Marque :</label>
                    <input id="product_mark" type="text" name="product_mark">
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">            
                    <label for="product_name">Modèle :</label>
                    <input id="product_name" type="text" name="product_name">
                </div>
                <div class="col-md-offset-2 col-md-10 block-characteristic-product">
                    <label for="product_serial_number">Numéro de série :</label>
                    <input id="product_serial_number" type="text" name="product_serial_number">
                </div>
            </div>
        </div>

        <div class="col-md-6 second-block">
            <label for="begin_date">De cette date :</label>
            <input id="begin_date" type="date" name="begin_date">
        </div>

        <div class="col-md-6 second-block input-append date form_datetime">
            <label for="end_date">A cette date :</label>
            <input id="end_date" type="date" name="end_date">
        </div>

        <div class="col-md-12 block-button">        
            <input type="submit" value="Rechercher">
        </div>
    </form>

    <div class="row">
        <p class="col-md-12"> Nombre de résultats <span class="badge" style="color: black;">{{ nb_sav_file_status }}</span></p>
        {% for st in sav_file_status %}
            <p class="col-md-3">{{ st.libelle }} <span class="badge {{ st.class_css }}" style="color: black;">{{ libelle_stats|nb_libelle:st.libelle }}</span></p>
        {% endfor %}      
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Référence du fichier SAV</th>
                <th>Numéro de suivi</th>
                <th>Statut de réparation</th>
                <th>Societé du client</th>
                <th>Nom du client</th>
                <th>Marque du produit</th>
                <th>Modèle du produit</th>
                <th>Numéro de série du produit</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for file in results %}
                {% if file.sav_file_status.class_css != "" and file.sav_file_status.class_css is not None %}
                    <tr class="{{ file.sav_file_status.class_css }}">
                {% else %}
                    <tr class="">
                {% endif %}
                <td>{{ file.id }}</td>
                <td>{{ file.tracking_number }}</td>
                <td>{{ file.reparation_status }}</td>
                <td>{{ file.society_client }}</td>
                <td>{{ file.name_client }}</td>
                <td>{{ file.mark_product }}</td>
                <td>{{ file.name_product }}</td>
                <td>{{ file.serial_number_product }}</td>
                <td><a class="glyphicon glyphicon-zoom-in" href="{% url 'visualImpactSAV:detailSAVFile' file.id %}" style="color: black;"></a> </td>
                <td><a class="glyphicon glyphicon-pencil" href="{% url 'visualImpactSAV:updateSAVFile' file.id %}" style="color: black;"></a> </td>
                <td><a class="glyphicon glyphicon-pencil" href="{% url 'visualImpactSAV:listDesignation' file.id %}" style="color: black;"></a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.get_full_path }}?page=1&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.get_full_path }}?page=1&page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}