{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}
{% block style %}
    <link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <form class="row" enctype="multipart/form-data" method=POST action="{% url 'visualImpactSAV:updateSAVFile' current_sav_file.id %}" accept-charset="utf-8">
        {% csrf_token %}
        <div class="col-md-4 first-block">
            <label for="id_file_reference">{% trans "AS file reference" %} :</label>
            <input id="id_file_reference" type="text" name="file_reference" value="VIF-SAV-{{ current_sav_file.id }}" maxlength="33" disabled/>
        </div>

        <div class="col-md-4 first-block">
            <label for="id_status">{% trans "AS file's status" %} :</label>
            <select id="id_status" name="status" >
                {% for st in sav_file_status %}
                    {% if st.0 == current_sav_file.status %}
                        <option selected="selected"  value="{{ st.0 }}">{{ st.1 }}</option>
                    {% else %}
                        <option value="{{ st.0 }}">{{ st.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {{ form.status.errors }}
        </div>
        <div class="col-md-4 first-block">
            <label for="id_rma_number">{% trans "RMA number" %} :</label>
            <input id="id_rma_number" type="text" name="rma_number" value="{{ current_sav_file.rma_number }}" maxlength="100"/>
            {{ form.rma_number.errors }}
        </div>

        <div class="col-md-12 block-product">
            <div class="row panel-product">
                <div class="col-md-12 title-panel-product">
                    <h4>{% trans "Product informations" %}</h4>
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_brand_product">{% trans "Brand" %} :</label>
                    <input id="id_brand_product" type="text" name="brand_product" value="{{ current_sav_file.brand_product }}" maxlength="300" />
                    {{ form.brand_product.errors }}
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_name_product">{% trans "Model" %} :</label>
                    <input id="id_name_product" type="text" name="name_product" value="{{ current_sav_file.name_product }}" maxlength="300" />
                    {{ form.name_product.errors }}
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_serial_number_product">{% trans "Serial number" %} :</label>
                    <input id="id_serial_number_product" type="text" name="serial_number_product" value="{{ current_sav_file.serial_number_product }}" maxlength="300" />
                    {{ form.serial_number_product.errors }}
                </div>
                <div class="col-md-3 block-characteristic-product">
                    <label for="id_waranty">{% trans "Waranty" %} :</label>
                    <select id="id_waranty" name="waranty" >
                        {% for waranty in waranties %}
                            {% if waranty.0 == current_sav_file.waranty %}
                                <option selected="selected" value="{{ waranty.0 }}">{{waranty.1}}</option>
                            {% else %}
                                <option value="{{ waranty.0 }}">{{waranty.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {{ form.waranty.errors }}
                </div>
            </div>
        </div>
        <div class="col-md-12 block-client">
            <div class="row panel-client">
                <div class="col-md-12 title-panel-client">
                    <h4>{% trans "Customer informations" %}</h4>
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_name_customer">{% trans "Name" %} :</label>
                    <input id="id_name_customer" type="text" name="name_customer" value="{{ current_sav_file.name_customer }}" maxlength="300" />
                    {{ form.name_customer.errors }}
                </div>
                <div class="col-md-6 block-name-client">
                    <label for="id_society_customer">{% trans "Society" %} :</label>
                    <input id="id_society_customer" type="text" name="society_customer" value="{{ current_sav_file.society_customer }}" maxlength="300"/>
                    {{ form.society_customer.errors }}
                </div>
                <div class="col-md-7 row">
                    <div class="col-md-12 address-client">
                        <span class="glyphicon glyphicon-envelope"/><span>   {% trans "Address" %}</span>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_street_customer">{% trans "Street" %} :</label>
                        <input id="id_street_customer" type="text" name="street_customer" value="{{ current_sav_file.street_customer }}" maxlength="300" />
                        {{ form.street_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_city_customer">{% trans "City" %}  :</label>
                        <input id="id_city_customer" type="text" name="city_customer" value="{{ current_sav_file.city_customer }}" maxlength="300" />
                        {{ form.city_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_zipcode_customer">{% trans "Zipcode" %} :</label>
                        <input id="id_zipcode_customer" type="text" name="zipcode_customer" value="{{ current_sav_file.zipcode_customer }}" maxlength="300" />
                        {{ form.zipcode_customer.errors }}
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-12 address-client">
                        <p>   {% trans "Phone and email" %}</p>
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_phone_customer" class="glyphicon glyphicon-earphone"></label>
                        <input id="id_phone_customer" type="text" name="phone_customer" value="{{ current_sav_file.phone_customer }}" maxlength="30" />
                        {{ form.phone_customer.errors }}
                    </div>
                    <div class="col-md-12 block-characteristic-client">
                        <label for="id_email_customer">@ :</label>
                        <input id="id_email_customer" type="email" name="email_customer" value="{{ current_sav_file.email_customer }}" />
                        {{ form.email_customer.errors }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 block-out-of-order-reason">
            <label for="id_out_of_order_reason">{% trans "Out of order reason" %} :</label>
            <textarea id="id_out_of_order_reason" name="out_of_order_reason" rows="10" cols="40">{{ current_sav_file.out_of_order_reason }}</textarea>
            {{ form.out_of_order_reason.errors }}
        </div>
        <div class="col-md-12 block-out-of-order-reason">
            <label for="id_given_accessory">{% trans "Given accessories " %} :</label>
            <textarea id="id_given_accessory" name="given_accessory" rows="10" cols="40" >{{ current_sav_file.given_accessory }}</textarea>
            {{ form.given_accessory.errors }}
        </div>
        <div class="col-md-12 block-files">
            <label for="id_bill_customer">{% trans "Customer bill" %} :</label>
            <input id="id_bill_customer" type="file" name="bill_customer" />
            {% if current_sav_file.bill_customer %}
               {% trans "Currently" %} : <a class="glyphicon glyphicon-file" target="_blank" href="{{ current_sav_file.bill_customer.url }}">{{ current_sav_file.bill_customer.url }}</a>
            {% endif %}
            {{ form.bill_customer.errors }}
        </div>
        <div class="col-md-12 mini-title">
            <h3> {% trans "Events" %} </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Action" %}</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.action }}</td>
                        <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateEvent" href="{% url 'visualImpactSAV:updateEvent' event.id%}" style="color: black;"></a> </td>
                        <td><a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#modalDeleteEvent" href="{% url 'visualImpactSAV:deleteEvent' pk=event.id%}" style="color: black;"></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-12 add-button">
            <a data-toggle="modal" data-target="#modalCreateEvent" href="{% url 'visualImpactSAV:createEvent' pkSAVFile=current_sav_file.id %}">{% trans "Add an event" %}</a>
        </div>
        <div class="col-md-12 mini-title">
            <h3> {% trans "PDF generation" %} </h3>
        </div>
        <table class="table">
        <thead>
            <tr>
                <th>{% trans "Designation" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for designation in designations %}
                <tr>
                    <td>{{ designation.designation }}</td>
                    <td>{{ designation.quantity }}</td>
                    <td>{{ designation.price }}</td>
                    <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateDesignation" href="{% url 'visualImpactSAV:updateDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                    <td><a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#modalDeleteDesignation" href="{% url 'visualImpactSAV:deleteDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <th>{% trans "Total pre-tax price" %} </th>
                <th>{{ totalHT }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <th>{% trans "Total price AI" %} :</th>
                <th style="color:red">{{ totalTC }}</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 add-button">
        <a data-toggle="modal" data-target="#modalCreateDesignation" href="{% url 'visualImpactSAV:createDesignation' pkSAVFile=current_sav_file.id %}">{% trans "Add a designation" %}</a>
    </div>
    <div class="col-md-12 pdf-buttons">
        <label for="id_furnisher">{% trans "Furnisher" %} :</label>
        {{ form.furnisher }}
        {{ form.furnisher.errors }}
    </div>
    <div class="col-md-12 block-button">
        <input type="submit" value="Mettre à jour">
    </div>
    </form>

    <div class="modal" id="modalUpdateEvent"></div>
    <div class="modal" id="modalCreateEvent"></div>
    <div class="modal" id="modalDeleteEvent"></div>

    <div class="modal" id="modalUpdateDesignation"></div>
    <div class="modal" id="modalCreateDesignation"></div>
    <div class="modal" id="modalDeleteDesignation"></div>
{% endblock %}