{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- link href="{% static 'css/SAVFile/createSAVFile.css' %}" rel="stylesheet" media="screen" -->
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Designation</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for designation in designations %}
                <tr>
                    <td>{{ designation.designation }}</td>
                    <td>{{ designation.quantity }}</td>
                    <td>{{ designation.price }}</td>
                    <td><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modalUpdateDesignation" href="{% url 'visualImpactSAV:updateDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                    <td><a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#modalDeleteDesignation" href="{% url 'visualImpactSAV:deleteDesignation' pk=designation.id%}" style="color: black;"></a> </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <th>Prix hors taxe :</th>
                <th>{{ totalHT }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <th>Prix taxes comprises :</th>
                <th style="color:red">{{ totalTC }}</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>   
    <div class="col-md-12">
        <a data-toggle="modal" data-target="#modalCreateDesignation" href="{% url 'visualImpactSAV:createDesignation' pkSAVFile %}">Ajouter une désignation</a>
    </div>
    <div class="col-md-offset-4 col-md-2">
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:generatePdf' pkSAVFile %}">Générer PDF</a>
        <a role="button" class="btn btn-primary" href="{% url 'visualImpactSAV:sendPdf' pkSAVFile %}">Envoyer PDF</a>
    </div>

    <div class="modal" id="modalUpdateDesignation"></div>
    <div class="modal" id="modalCreateDesignation"></div>
    <div class="modal" id="modalDeleteDesignation"></div>
{% endblock %}