<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <title>Visual Impact SAV</title>
    </head>

    <body>
        <!-- {{ sav_file_form.as_p }}-->
        <form method=POST action="{% url 'visualImpactSAV:saveSAVFile' %}" accept-charset="utf-8">
            {% csrf_token %}
            <label for="id_file_reference">File reference :</label>
            <input id="id_file_reference" type="text" name="file_reference" maxlength="33" required/>

            <label for="id_status">Status :</label>
            <select id="id_status" name="status" required>
                <option value="">-- Selectionnez un statut --</option>
                {% for st in status %}
                    <option value="{{ st.id }}">{{ st }}</option>
                {% endfor %}
            </select>

            <label for="id_client">Client :</label>
            <select  id="id_client" name="client">
                <option value="">-- Selectionnez un client --</option>
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client }}</option>
                {% endfor %}
            </select>

            <label for="id_product_referenced">Produit :</label>
            <select id="id_product_referenced" name="product_referenced">
                <option value="">-- Selectionnez un produit --</option>
                {% for product in products %}
                    <option value="{{ product.id }}">{{ product }}</option>
                {% endfor %}
            </select>

            <label for="id_out_of_order_reason">Raison du défaut de produit :</label>
            <textarea id="id_out_of_order_reason" name="out_of_order_reason" rows="10" cols="40" required></textarea>

            <label for="id_file_import_export_note">File import export note:</label>
            <input id="id_file_import_export_note" type="file" name="file_import_export_note" />

            <label for="id_file_import_export_reparation_client_side">Fichier d'import/export de réparation client :</label>
            <input id="id_file_import_export_reparation_client_side" type="file" name="file_import_export_reparation_client_side" />

            <label for="id_file_import_export_reparation_furnisher_side">Fichier d'import/export de réparation fournisseur :</label>
            <input id="id_file_import_export_reparation_furnisher_side" type="file" name="file_import_export_reparation_furnisher_side" />

            <label for="id_reparation_validated">Réparation validé :</label>
            <select id="id_product" name="product">
                <option value="false">Non</option>
                <option value="true">Oui</option>
            </select>
            
            <label for="id_tracking_number">Numéro de suivi :</label>
            <input id="id_tracking_number" type="text" name="tracking_number" required maxlength="100" />

            <input type="submit" value="Valider">
        </form>
    </body>
</html>