<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <title>Visual Impact SAV</title>
    </head>

    <body>
        <p>{{ sav_file.file_reference }}</p>
        <p>{{ sav_file.status }}</p>
        <p>{{ sav_file.name_client }}</p>
        <p>{{ sav_file.mark_product }} {{ sav_file.name_product }} {{ sav_file.serial_number_product }}</p>
        <p>{{ sav_file.out_of_order_reason }}</p>
        <p>{{ sav_file.tracking_number }}</p>
    </body>

</html>