{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <title>Visual Impact SAV</title>    
        <script src="{% static 'bootstrap/js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!--script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script-->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <!--link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen"-->
        <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen">        
        {% block js %}
        {% endblock %}
        {% block style %}
        {% endblock %}
    </head>

    <body class="row">
        <header class="row">
            <div class="col-md-4">
                <img src="{% static 'images/logoVisual.png' %}" alt="logoVisual.png">
            </div>
            <div class="col-md-6">
                <h2 style="color:white;margin-left:15%;margin-top:2%;">Logiciel de gestion de dossier SAV</h4>
            </div>
            <div class="col-md-2">
                {% block user_connected %}
                {% endblock %}
                {% if user.is_authenticated %}
                    <p style="color:white;margin-top:3%;">Bonjour {{ user.username }}</p>
                    <p style="color:white;"><a href="{% url 'logout' %}" >Se déconnecter</a></p>
                {% endif %}
            </div>
        </header>
        <div class="col-md-2 menu-content">
            <ul class="menu-SAV-file">
                {% if user.is_authenticated %}
                    {% block menu_search %}<li class="list-SAV-file row"><a href="{% url 'visualImpactSAV:searchSAVFile' %}" class="col-md-12">Rechercher</a></li>{% endblock %}
                    {% block menu_add %}<li class="list-SAV-file row"><a href="{% url 'visualImpactSAV:createSAVFile' %}" class="col-md-12">Ajouter</a></li>{% endblock %}
                    {% block menu_guarantee %}<li class="list-SAV-file row"><a href="{% url 'visualImpactSAV:listGuarantee' %}" class="col-md-12">Garantie</a></li>{% endblock %}
                    {% block menu_furnisher %}<li class="list-SAV-file row"><a href="{% url 'visualImpactSAV:listFurnisher' %}" class="col-md-12">Fournisseur</a></li>{% endblock %}
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10 base-content container">
            {% if user.is_authenticated %}
                {% block content %}
                {% endblock %}
            {% else %}
                <div class="row">
                      <h2>Login</h2>
                      <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                      </form>
                    <!--<a href="{% url 'signup' %}" class="col-md-12">S'inscrire</a>-->
                </div>
            {% endif %}
        </div>  
    </body>
</html>